body{
    background-image: url(../media/fondoMate.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btnRegresar{
    background: rgb(122, 0, 0);
    width: 170px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.btnRegresar:hover{
    color: rgb(24, 23, 23);
    width: 170px;
    height: 50px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: rgb(2, 2, 2) solid 2px;
    border-radius: 10px; 
    margin-right: 10px;
}

.textoMate{
    background-color: rgba(32, 32, 32, 0.733);
    color: rgb(255, 255, 255);
    width: 800px;
    padding: 5px;
    margin-left: 270px;
    border-radius: 25px;
    margin-top: 150px;
}